* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins';
  background-image: url("./../image/bg/image3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #000;
  height: 850px;
}

.header {
  padding-top: 30px;
  margin-bottom: 0px;
  background-color: #fff;
  padding: 5px 0;
  border-radius: 20px;
}

.container-wide {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0px 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  object-fit: contain;
  width: 5rem;
  height: 5rem;

}

.shop_logo .logo img {
  max-width: 100%;
  /* Ограничиваем ширину изображения до ширины родительского элемента */
  height: auto;
  /* Сохраняем пропорции изображения */
}

.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.nav,
.account-icon {
  font-weight: 700;
  font-size: 18px;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav li+li {
  margin-left: 40px;
}

.nav a {
  position: relative;
  color: #000;
  text-decoration: none;
  transition: color 0.2s ease-in;
  padding-bottom: 5px;
}

.nav a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #c11d1d;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.nav a:hover {
  color: #24f903;
}

.nav a:hover::after {
  bottom: 0;
  opacity: 1;
}

.account {
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.account:hover {
  color: #67fb05;
  transition: color 0.2s ease-in;
}

.account::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('/image/icons/letter.jpg');
  background-size: contain;
}

.categories-menu {
  display: flex;
  justify-content: center;
}

.list {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.list img {
  max-width: 100%;
  /* Ограничиваем ширину изображения до ширины родительского элемента */
  height: auto;
  /* Сохраняем пропорции изображения */
}