* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*BASE */

body {
  margin: 0;
  font-family: 'Poppins';
  background-image: url("./../image/bg/image3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #000;
  height: 1000px;
}

h1 {
  text-align: center;
  color: #fef211;
  font-weight: 1000;
  font-style: italic;
  background-color: #7466df;
}

/*HEADER*/

.header {
  padding-top: 30px;
  margin-bottom: 0px;
  background-color: #b8ddfb;
  padding: 5px 0;
  border-radius: 20px;
}

.container-wide {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0px 10px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  object-fit: contain;
  width: 5rem;
  height: 5rem;
}

.shop_logo {
  margin: 0px;
}

.shop_logo .logo img {
  max-width: 100%;
  /* Ограничиваем ширину изображения до ширины родительского элемента */
  height: auto;
  /* Сохраняем пропорции изображения */
}

.row {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.nav,
.account-icon {
  font-weight: 700;
  font-size: 18px;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav li+li {
  margin-left: 40px;
}

.nav a {
  position: relative;
  color: #000;
  text-decoration: none;
  transition: color 0.2s ease-in;
  padding-bottom: 5px;
}

.nav a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #c11d1d;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.nav a:hover {
  color: #24f903;
}

.nav a:hover::after {
  bottom: 0;
  opacity: 1;
}

.account {
  display: none;
  position: relative;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.account:hover {
  color: #67fb05;
  transition: color 0.2s ease-in;
}

.account::before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-image: url('/image/icons/letter.jpg');
  background-size: contain;
}

.categories-menu {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.list {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem #082424;
  margin: 1rem;

}

.list img {
  max-width: 100%;
  /* Ограничиваем ширину изображения до ширины родительского элемента */
  height: auto;
  /* Сохраняем пропорции изображения */
}

.list .product {
  position: relative;
  /* Родительский элемент с относительным позиционированием */
  display: inline-block;
  /* Чтобы элемент занимал ровно столько места, сколько нужно */
}

.image {
  display: block;
  /* Для корректной работы отображения изображения */
  width: 100%;
  /* Ширина изображения может быть настроена в зависимости от требований */
  height: auto;
  /* Высота автоматически подстроится под ширину */
}

/*product-card*/

.productsForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 2rem #082424;
  margin: 1rem;
}

.button_save {
  background-color: #3634a4;
  border-radius: 1em;
  font-size: 1em;
  box-shadow: 1rem 1rem 2rem #050808;
  color: aliceblue;
}

.product {
  border-radius: 5px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 300px;
  display: inline-block;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.product-card p {
  margin: 0 0 10px 0;
}

/*#products-container {
  display: flex;
  flex-wrap: wrap;
  
}*/

/*INFO*/

.products-container {
  margin: 1rem;
  background-color: rgb(85, 214, 214);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: 1rem 1rem 2rem #082424;
}

.card {
  background-color: rgb(251, 251, 235);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.2rem #808080a9;
}

/*FOOTER*/

.footer {
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 1rem 1rem 2rem #082424;
  padding-bottom: 50px;
  background-color: #d9f8fc;
  padding: 20px 20px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
}

.footer-copyright-logo {
  margin-bottom: 24px;
}

.footer-copyright-terms {
  margin-top: auto;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
  color: rgba(9, 9, 9, 0.5);
}

.footer-nav-wrapper {
  display: flex;
}

.footer-nav {
  max-width: 250px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.78;
}

.footer-nav a {
  position: relative;
  color: #000;
  text-decoration: none;
  padding-bottom: 5px;
}

.footer-nav a::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #f5410a;
  opacity: 0;
  transition: all 0.2s ease-in;
}

.footer-nav a:hover::after {
  bottom: 0;
  opacity: 1;
}

.footer-copyright-desc {
  color: #510ba1;
  font-weight: 900;
  font-size: 25px;
  font-style: italic;
}

.logo_icon {
  color: #d31fa9;
  font-weight: 900;
  font-size: 25px;
}

.icon {
  position: relative;
}

.icon::before {
  content: url(/image/icons/goldFishico.jpg);
  ;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.footer-nav,
.third_page {
  display: flex;
  justify-content: center;
}

.icon-cell {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.icon-cell img {
  max-width: 100%;
  height: auto;
}